body{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    align-items: center;
    text-align: center;
    background-image: url('Imagens 2/png-clipart-nazi-germany-nazi-party-nazism-nazi-salute-swastika-others-miscellaneous-angle-thumbnail.png'); /* Caminho para a imagem */
    background-repeat: repeat; /* Repetir a imagem */
    background-size: 50px; /* Mantém o tamanho original da imagem */
}

.content{
    margin: 10px;
}

.tittle{
    font-size: 4em;
    margin: 1em;
    color: rgb(255, 0, 0);
    box-shadow: 100px;
    box-shadow: 2px;
}

img{
    width: 60%;
}

